@import "../scss/variables.scss";
@import "../scss/mixins.scss";

.home {
    .component {
        position: relative;

        &::after {
            background: linear-gradient(to bottom, #f9e6e6, #ebacac);
            box-shadow: 0 14px 44px 0 rgba(0, 0, 0, 0.09);
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            z-index: -2;
            bottom: 30%;
            transform: skewY(4.5deg);
            transform-origin: 0 100%;
        }

        /*    -webkit-transition: 10s linear;
        transition: 1s linear; */

        .fresa2 {
            position: absolute;
            top: -150px;
            @include size(600px, 277px);
            right: 250px;
        }

        .fresa3 {
            float: right;
            position: absolute;
            right: 10px;
            top: 700px;
        }

        .fresa5 {
            position: relative;
            left: -30%;
            top: -200px;
            transform: rotate(750deg);
        }

        .container {
            @include flex(center, center, row);
            position: relative;
            top: -170px;

            .bote {
                @include flex(center, center, row);
                @include size(399px, 755px);
            }

            .presentation {
                @include flex(center, center, column);
                font-family: "Open Sans";
                font-size: 14px;
                width: 35%;

                .flavor {
                    @include flex(center, left, row);
                    width: 100%;
                    font-weight: 600;
                    p {
                        margin-right: 3%;
                    }
                    ul {
                        @include flex(center, center, row);
                        list-style: none;
                        padding: 0;
                        li {
                            background-color: $light-red;
                            border-radius: 11.5px;
                            margin-right: 3%;
                            @include size(78px, 23px);
                            @include flex(center, center, row);
                            cursor: pointer;
                        }
                    }
                }

                .title {
                    font-size: 40px;
                    color: $darkish-purple;
                    font-family: "Open Sans Light";
                    margin: 2%;
                    width: 100%;
                    text-align: left;
                }

                .description {
                    text-align: left;
                    font-weight: 600;
                    color: $black;
                    font-family: "Open Sans Light";
                    font-size: 17px;
                    height: 115px;
                    margin: 0;
                }

                .btn {
                    width: 100%;
                    outline: none;
                    button {
                        background-color: $darkish-purple;
                        color: $white;
                        font-size: 14px;
                        font-family: "Open Sans";
                        border: none;
                        cursor: pointer;
                        @include size(243px, 40px);
                        float: left;
                    }
                }

                .images {
                    @include flex(center, left, row);
                    width: 100%;
                    margin-top: 5%;

                    .image1 {
                        @include size(62px, 62px);
                        margin-right: 4%;
                    }

                    .image2 {
                        @include size(86px, 62px);
                    }
                }
            }

            .arrow {
                background-color: $darkish-purple;
                border-radius: 30px;
                @include size(50px, 50px);
                @include flex(center, center, row);
                position: relative;
                bottom: -70px;
                left: -40%;
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 900px) {
    .home {
        .fresa3 {
            display: none;
        }

        .component {
            &::after {
                height: calc(115% - 300px);
                bottom: 32%;
                transform: skewY(8deg);
            }

            .fresa2 {
                position: absolute;
                top: -100px;
                right: 5%;
                @include size(210px, 110px);
            }

            .container {
                position: relative;
                left: -10%;
                top: -300px;
                @include flex(center, center, column);
                .bote {
                    @include size(230px, 400px);
                }

                .presentation {
                    width: 50%;
                    position: relative;
                    top: -50px;
                    .flavor {
                        font-size: 14px;
                        ul {
                            li {
                                background-color: $light-pink;
                            }
                        }
                    }
                    .title {
                        font-size: 20px;
                    }

                    .description {
                        width: 100%;
                        font-size: 14px;
                    }

                    .btn {
                        button {
                            width: 100%;
                        }
                    }

                    .images {
                        @include flex(center, center, row);
                        margin-top: 10%;

                        .image1 {
                            margin-right: 8%;
                        }
                    }

                    .arrow {
                        margin-top: 20%;
                        position: relative;
                        bottom: -10px;
                        left: 0;
                    }
                }
            }
        }
    }
}
