@import "../scss/variables.scss";
@import "../scss/mixins.scss";
@import "../scss/placeholder.scss";

.container {
    height: 100px;
    @include flex(center, space-around, row);
    background-color: $white-67;
    z-index: 1;
    position: relative;
    transition: 0.3s ease padding;

    a {
        display: flex;
        padding: 20px;
        text-decoration: none;
        color: $black;

        &:hover {
            @extend %hover;
        }
    }

    .menu {
        @include flex(center, space-between, row);
        font-family: "Open Sans";
        size: 16px;

        .socialMedia {
            @include flex(center, center, row);
            a {
                padding: 5px;

                &:hover {
                    @extend %hover;
                }
            }
        }
    }

    .menuHamburger {
        display: none;
    }
}
@media only screen and (min-width: 320px) and (max-width: 568px) {
    .container {
        height: 70px;
        @include flex(center, space-between, row);
        padding-right: 5%;
        padding-left: 5%;

        img {
            @include size(90px, 40px);
        }

        .menu {
            display: none;
        }

        .mobile {
            position: absolute;
            display: block;
            background-color: $white-67;
            left: 0;
            top: 70px;
            @include flex(center, center, column);
            width: 100%;

            a {
                text-decoration: none;
                color: $black;
            }
        }

        .menuHamburger {
            @include size(32px, 25px);
            display: flex;
            transform: scale(0.98);
            border-radius: 0;

            button {
                cursor: pointer;
                background: none;
                border: 0;
                padding: 0;
                @include size(50px, 50px);
                outline: none;

                span {
                    border-radius: 5px;
                    background-color: $golden-brown;
                    display: block;
                    width: 65%;
                    margin: 3px;
                    height: 3px;
                    float: right;
                }
            }
        }
    }
}
@media only screen and (min-width: 568px) and (max-width: 900px) {
    .container {
        @include flex(center, space-between, row);
        padding-right: 5%;
        padding-left: 5%;

        .menu {
            display: none;
        }

        .mobile {
            position: absolute;
            display: block;
            background-color: $white-67;
            left: 0;
            top: 100px;
            @include flex(center, center, column);
            width: 100%;

            a {
                text-decoration: none;
                color: $black;
            }
        }

        .menuHamburger {
            @include size(32px, 25px);
            display: flex;

            button {
                cursor: pointer;
                background: none;
                border: 0;
                padding: 0;
                @include size(50px, 50px);
                outline: none;

                &:active {
                    transform: scale(0.98);
                    border-radius: 0;
                }

                span {
                    border-radius: 5px;
                    background-color: $golden-brown;
                    display: block;
                    width: 65%;
                    margin: 3px;
                    height: 3px;
                    float: right;
                }
            }
        }
    }
}
