@import "../scss/variables.scss";
@import "../scss/mixins.scss";

.information {
    @include flex(center, center, column);
    position: relative;
    height: calc(600px - 100px);
    bottom: -300px;

    .fresa4 {
        position: relative;
        left: -47%;
        top: 150px;
    }

    .fresa5 {
        position: relative;
        bottom: -110%;
        left: -45%;
        @include size(226px, 196px);
    }

    .fresa6 {
        position: relative;
        right: -47%;
        top: -90%;
    }

    .fresa7 {
        position: relative;
        bottom: 70%;
        left: -48%;
    }

    .fresa8 {
        position: relative;
        right: -45%;
        top: -140%;
    }

    .fresa9 {
        position: relative;
        top: -200%;
        left: -25%;
    }

    .data {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        @include flex(center, center, row);
        font-size: 14px;
        .bebibleData {
            .title {
                color: $darkish-purple;
                font-family: "Open Sans Light";
                font-size: 32px;
                float: left;
                text-align: left;
                width: 100%;
            }
            .left {
                float: left;
                ul {
                    text-align: left;
                    padding-left: 0;
                    padding-bottom: 10%;
                    li {
                        list-style: none;
                        font-family: "Open Sans Bold";
                    }
                }

                .ingredients {
                    font-family: "Open Sans";
                    text-align: left;
                    width: 300px;

                    h3,
                    .ingredientsList {
                        font-size: 14px;
                        margin: 0;
                    }
                }
            }
        }

        .right {
            float: right;
            width: 65%;
            .informationList {
                background-color: $snow;
                color: $darkish-purple;
                size: 14px;
                font-family: "Open Sans Light";
                @include flex(stretch, flex-start, row);
                text-align: right;

                ul {
                    list-style: none;
                    width: 100%;
                    li {
                        padding-bottom: 7%;
                    }
                }

                .informationData {
                    text-align: left;
                    width: 97%;
                }
            }
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
    .information {
        @include flex(center, center, row);
        height: 100%;
        bottom: 40px;
        padding-left: 30%;

        .fresa6 {
            position: relative;
            left: 11%;
            top: -200px;
            @include size(250px, 260px);
        }

        .fresa7 {
            position: relative;
            left: -160%;
            bottom: -10%;
            @include size(120px, 120px);
        }

        .fresa4,
        .fresa5,
        .fresa8,
        .fresa9 {
            display: none;
        }
        .data {
            width: 100%;
            @include flex(center, center, column);
            .bebibleData {
                padding-left: 30%;
                .title {
                    font-size: 20px;
                }

                .right {
                    padding-top: 10%;
                    width: 100%;
                }
            }
        }

        .informationList {
            width: 100%;
        }

        .informationData {
            margin-top: 3%;
        }

        .fresa5 {
            display: none;
        }

        
    }
}

@media only screen and (min-width: 568px) and (max-width: 900px) {
    .information {
        @include flex(center, center, row);
        bottom: 120px;

        .fresa6 {
            position: relative;
            top: -40%;
            right: -20%;
            z-index: 2;
        }

        .fresa7 {
            position: relative;
            left: -85%;
            bottom: -10%;
            z-index: 1;
        }

        .fresa4,
        .fresa5,
        .fresa8,
        .fresa9 {
            display: none;
        }

        .data {
            @include flex(center, center, column);
            .bebibleData {
                padding-left: 50%;
                width: 100%;
                .title {
                    font-size: 20px;
                }

                .right {
                    padding-top: 10%;
                    width: 100%;
                }
            }
        }

        .informationList {
            width: 120%;
        }

        .fresa5 {
            display: none;
        }
    }
}
